#intFooter {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}
#intFooter * {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    'Noto Sans',
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
}
#intFooter .intFooterInner {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 30px auto 0;
  padding-bottom: 50px;
}
#intFooter .intFooterInner::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  margin-left: -0.5px;
  background-color: rgba(0, 0, 0, 0.08);
}
#intFooter .intFooterLinks {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
#intFooter .intFooterLinks ul {
  font-size: 0;
  margin: 0 -30px;
}
#intFooter .intFooterLinks ul li {
  position: relative;
  display: inline-flex;
  padding: 15px 27.4px;
  box-sizing: border-box;
}
#intFooter .intFooterLinks ul li + li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #ccc;
}
#intFooter .intFooterLinks ul li a {
  position: relative;
  color: #333;
  font-size: 13px;
}
#intFooter .intFooterLinks ul li a.bold {
  font-weight: bold;
}
#intFooter .intFooterLinks ul li .list {
  display: none;
  position: absolute;
  top: 40px;
  right: 37px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#intFooter .intFooterLinks ul li .list li {
  display: block;
  padding: 0;
}
#intFooter .intFooterLinks ul li .list li:before {
  display: none;
}
#intFooter .intFooterLinks ul li .list li + li {
  margin-top: 10px;
}
#intFooter .intFooterLinks ul li .list li a {
  white-space: nowrap;
}
#intFooter .intFooterLinks ul li .list li a::after {
  display: none;
}
#intFooter .intFooterLinks ul li.on .list {
  display: block;
}
#intFooter .intFooterLinks ul li.sub {
  padding-right: 33px;
}
#intFooter .intFooterLinks ul li.sub a:after {
  content: '';
  position: absolute;
  top: 2px;
  right: -14px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  transform: rotate(45deg);
}
#intFooter .intFooterLinks .intFooterInner {
  margin: 0 auto;
  padding-bottom: 0;
}
#intFooter .intFooterLinks .intFooterInner::after {
  display: none;
}
#intFooter .intFooterInfo {
  position: relative;
  display: flex;
  width: 50%;
  font-size: 0;
  box-sizing: border-box;
}
#intFooter .intFooterInfo + .intFooterInfo {
  margin-left: 31px;
}
#intFooter .intFooterInfo h2 {
  display: inline-block;
  font-size: 15px;
  margin-right: 14px;
  color: #111;
  vertical-align: top;
  font-weight: bold;
  white-space: nowrap;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap {
  position: relative;
  font-size: 12px;
  color: #666;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent {
  font-size: 0;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent + .intFooterInfoContent {
  margin-top: 10px;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent .subTitle {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #111;
  margin-right: 10px;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent span {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 17px;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent span + span {
  margin-left: 14px;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent span + span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  width: 1px;
  height: 11px;
  background-color: #666;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent span.notice {
  color: #bdbdbd;
  word-break: keep-all;
  font-size: 11px;
}
#intFooter .intFooterInfo .intFooterInfoContentWrap .intFooterInfoContent a {
  color: #4a95ff;
  text-decoration: underline;
}

@media screen and (max-width: 1240px) {
  #intFooter .intFooterLinks ul {
    margin-left: -13.5px;
  }
  #intFooter .intFooterLinks ul li {
    padding: 15px 13.5px;
  }
  #intFooter .intFooterLinks ul li.sub {
    padding-right: 24.5px;
  }
  #intFooter .intFooterInner {
    max-width: 1024px;
    justify-content: center;
    box-sizing: border-box;
  }
  #intFooter .intFooterInfo {
    padding: 0 28px;
    flex-wrap: wrap;
  }
  #intFooter .intFooterInfo h2 {
    margin-bottom: 10px;
  }
  #intFooter .intFooterInfo + .intFooterInfo {
    margin-left: 0;
  }
}
